@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 100vh;
    scroll-snap-align: start;
}
body{
    background: url(./images/hero-bg.jpg);
    height: 100vh;
    width: 100%;
	background-size: cover;
    background-position: center;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
	transition: width 0.2s linear;
    background: rgba(220, 180, 180, 0.1);
}
.sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .logo-details i{
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}
.sidebar .logo-details .logo_name{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}
.sidebar .nav-links{
    height: 100%;
    padding-top: 30px;
}
.sidebar .nav-links li{
    position: relative;
    list-style: none;
}
.sidebar .nav-links li:hover{
    background: #1d1b31;
}
.sidebar .nav-links li .iocn-link{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.sidebar .nav-links li i{
    height: 50px;
    min-width: 80px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    text-shadow: 1px 1px 4px #c16868;
    font-size: 20px;
}
.sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 4px #c16868;

} 
.sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
}
.sidebar .nav-links li.showMenu .sub-menu{
    display: block;
}
.sidebar .nav-links li .sub-menu a{
    color: #fff;
    text-shadow: 1px 1px 4px #c16868;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
   
}
.sidebar.close .nav-links li .sub-menu a:hover{
    opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute; 
  left: 100%;
  top: -10px;
  margin-top: 0; 
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  pointer-events: none;
}
.sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
}
.sidebar .nav-links li .sub-menu.link_name{
    display: none;
}
.sidebar.close .nav-links li .sub-menu.link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
}
.sidebar .profile-details{
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar .profile-details img{
    height: 75px;
    width: 75px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    padding: 7px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
    color: #fff;
    text-shadow: 1px 1px 4px #c16868;
    font-size: 18px;
    font-weight: 500;

}
.header-text{
    margin-top: 17%;
    margin-bottom: 20%;
    margin-left: 33%;
    font-size: 30px;
    color: #9e9096;
    
}
.header-text p{
    color: #a281c5;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    margin-left: 3%;
}
.header-text span{
    color: #c16868;
}
.Social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 5rem;
    background: transparent;
    border: .2rem solid var(#c16868);
    border-radius: 50%;
    font-size: 2rem;
    color:#a281c5;
    margin: 3rem 1.5rem 3rem 0;
}
/*----------------about------------*/
#about{
    padding: 80px 0px;
    margin-left: 18%;
    color: aliceblue;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 37%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 17px;

}
.about-col-2{
    flex-basis: 60%;
}
.title{
    font-size: 50px;
    font-weight: 600;
    color:#fff;
    text-shadow: 1px 1px 4px #c16868;

}
.title span{
    color: #c16868;
    text-shadow: 1px 1px 4px #c16868;

}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:#c16868;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #c16868;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*----------------Education------------*/
#Education{
    margin-top: 3.5%;
    padding: 80px 0px;
    margin-left: 18%;
    color: aliceblue;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 37%;
}
.about-col-1 img{
    width: 100%;
    height: 100%;
    border-radius: 17px;

}
.about-col-2{
    flex-basis: 60%;
}
.title{
    font-size: 50px;
    font-weight: 600;
    color:#fff;
    text-shadow: 1px 1px 4px #c16868;

}
.title span{
    color: #c16868;
    text-shadow: 1px 1px 4px #c16868;

}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:#c16868;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #c16868;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*----------------Projects------------*/
#Projects{
    padding: 2rem 0px;
    margin-left: 22%;
}
.Heading1{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color:#fff;
    text-shadow: 1px 1px 4px #c16868;
    margin-bottom: 3rem;
    
}
.Heading1 span{
    color: #c16868;
    text-shadow: 1px 1px 4px #c16868
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: tranform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0.6), #c16868);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
/*----------------Contacts------------*/
#Contact{
    padding: 2rem 0px;
    margin-left: 22%;
}
.Heading2{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color:#fff;
    text-shadow: 1px 1px 4px #c16868;
    margin-bottom: 3rem;
    margin-left: 30%;
    
}
.Heading2 span{
    color: #c16868;
    text-shadow: 1px 1px 4px #c16868
}


.container1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: -19%;
}
.container1 .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container1 .contactinfo .box{
    position: relative;
    padding: 20px;
    display: flex;
}
.container1 .contactinfo .box .bx{
    min-width: 60px;
    height: 60px;
    background: #9e9096;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container1 .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #a281c5;
    flex-direction: column;
}











